@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(100deg, #CED1D6, #bfc0c0);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input{
    background-color: #fff;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
}

.weather{
    text-align: center;
    font-size: 1.5rem;
}

.weather h2{
    margin-bottom: 0;
    align-items: center;
    display: flex;
}


