@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img{
    max-width: 100%;
}

.mob-container{
    background-color: #fff;
    width: 400px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header input{
    background-color: #eee;
    border: none;
    border-radius: 3px;
    padding: 0.52rem 1rem;
    font-family: inherit;
}

header button{
    background-color: transparent;
    color: rgb(138, 129, 141);
    border: none;
    font-size: 1.2rem;
    margin-left: 10px;
}

.fav-container{
    background-color: #e9dff5;
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li{
    position: relative;
    margin: 5px;
    width: 85px;
}

.fav-meals li .clear{
    background-color: transparent;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: 0;
}

.fav-meals li:hover .clear{
    opacity: 1;
}

.fav-meals li img{
    object-fit: cover;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.fav-meals li span{
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

.fav-meals li:hover span{
    white-space: normal;
    overflow: unset;
}

.meal{
    margin: 1.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    overflow: hidden;
}

.meal-header{
    position: relative;
}

.meal-header .random{
    position: absolute;
    top: 0.8rem;
    padding: 0.25rem 0.5rem;
    background-color: white;
    border-radius: 2px;
}

.meal-header img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4{
    margin: 0;
}

.meal-body .fav-btn{
    background-color: transparent;
    border: none;
    color: rgb(211, 202, 202);
    cursor: pointer;
    font-size: 1.2rem;
}

.meal-body .fav-btn.active{
    color: rebeccapurple;
}

.meal-info-container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.meal-info{
    background-color: white;
    padding: 0 2rem;
    max-width: 600px;
    width: 100%;
    border-radius: 6px;
    position: relative;
}

.meal-info h1{
    text-align: center;
}

.meal-info .close-popup{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
