@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    color: rgb(179, 111, 226);
    text-align: center;
    font-size: 10rem;
    opacity: 0.4;
}

form{
    margin: auto;
    max-width: 100%;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input{
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    font-size: 2rem;
    border: none;
}

.input::placeholder{
    color: #b5b5b5;
}

.todos{
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li{
    border-top: 1px solid #e5e5e5;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
